html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
h1.nombre-sitio {
  font-family: 'PT Sans', sans-serif;
  font-size: 5.9vw;
  text-transform: uppercase;
}

*,*::before,*::after {
  box-sizing: inherit;
  content: '';
  clear: both;
}
body {
  background-color: #f2f2f2;
}
/* Globales */
h2 {
  font-family: 'Oswald', sans-serif;
}
.contenedor {
  width: 95%;
  margin: 0 auto;
}
@media only screen and (min-width:480px) {
  .contenedor {
    width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (min-width:768px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width:992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
/* Header */
div.hero {
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenido-header {
  padding-top: 40px;
  margin:
}
@media only screen and (min-width: 768px) {
  div.contenido-header {
    padding-top: 10px;
  }
  div.informacion-evento {
    width: 70%;
    margin: 0 auto;
  }
}
nav.redes-sociales {
  text-align: center;
}
nav.redes-sociales a {
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 20px;
}
nav.redes-sociales a:last-child {
  margin-right: 0px;
}
div.informacion-evento {
  color: #ffffff;
  text-align: center;
}
div.informacion-evento p{
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
}
div.informacion-evento p i{
  color: #fe4918;
  margin-right: 5px;
  font-size: 2.4rem;
}
p.fecha {
    float: left;
}
p.ciudad {
    float: right;
    text-align: right;
}
p.slogan {
    text-transform: none!important;
}
p.slogan span {
    font-weight: bold;
}
@media only screen and (min-width:768px) {
    h1.nombre-sitio {
      font-size: 8.5vw;
      margin: 0;
      line-height: 1;
    }
 }
  /* Barra */
  div.barra {
    background-color: #353535;
    padding: 20px 0;
  }
  div.logo {
    width: 80%;
    float: left;
  }
  div.logo img {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    div.logo {
      width: 33%;
    }
  }
  /* navegacion-principal */
  nav.navegacion-principal {
    display: none;
  }
  nav.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
  }
  @media only screen and (min-width: 768px) {
     nav.navegacion-principal {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
     }
     nav.navegacion-principal a {
       color: #ffffff;
       text-decoration: none;
       margin-right: 10px;
       padding: 10px 10px;
       text-transform: uppercase;
       font-size: 1.3em;
       transition:all .3s ease;
       display: inline-block;
     }
  } /* media */
  nav.navegacion-principal a:hover {
      background:#fe4918;
  }
  nav.navegacion-principal a:last-child {
    margin-right: 0px;
  }
.clearfix {
  clear: both;
  display: table;
  content: '';
}
div.clearfix {
  width: 100%;
  display: inline;
}
